body {
    background-image: url('img\\background login bage.png');
}

legend {
    font-size: 30px;
    color: #EEE
}

lable {
    color: #EEE;
    font-size: bold
}

.Gender {
    background-color: #166800
}